
#blur{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    filter:blur(5px);
    -o-filter:blur(5px);
    -ms-filter:blur(5px);
    -moz-filter:blur(5px);
    -webkit-filter:blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.btn-primary
{
    background-color:#383b50 ;
    border-color:#383b50 ;
}

.btn-primary:hover
{
    background-color:#303F9F ;
    border-color:#303F9F ;
}

.btn-primary:active
{
    box-shadow: none;
    background-color:#383b50 !important;
    border-color:#383b50 !important;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #303F9F;
    border-color: #303F9F;
}