{% extends 'layout.html' %}

{% block title %}
Pano
{% endblock %}

{% block bgtitle %}
Pano
{% endblock %}


{% block content %}
<input id="tarih" type="hidden" value="{{ tarih_getir }}">
    <div class="card">
  <div class="card-header">
      <b>Silivri Geneli Yerel Seçim</b>
  </div>
  <div class="card-body">

      <div id="chart" class="chart"></div>

  </div>
</div>

{% endblock %}


{% block modal %}


{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">

        setInterval(function(){
   Yenileme();
}, 30000);


        var graphs = {{graphJSON | safe}};

        Plotly.plot('chart',graphs,{});


        function Yenileme() {
            $.ajax({
                url: '/Yenileme',
                type: 'POST',
                dataType: 'json',

                success: function (result) {
                    tarih = document.getElementById('tarih').value;
                    if(result.result != tarih) {
                        loading("Sonuçlar güncelleniyor")
                        setTimeout(reloadpage(),1000);
                    }else{
                        alertbox("Şuan için sonuçlarda güncelleme yok",true);
                    }
                },
                error: function (error) {
                    alert(error)
                }
            });
        }





        function reloadpage() {
        location.reload();
    }
    </script>
{% endblock %}