{% extends 'layout.html' %}

{% block title %}
Kullanıcılar
{% endblock %}

{% block bgtitle %}
Kullanıcılar
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">

  <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#YeniKullaniciModal">Yeni Kullanıcı</a>
        </div>
    </div>

  <hr>

<div class="card">
    <div class="card-body">
{% if kullanicilar.items %}
<div class="table-responsive">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ad Soyad</th>
      <th scope="col">Kullanıcı Adı</th>
      <th scope="col">Yetki</th>
    </tr>
  </thead>
  <tbody>
  {% for kullanici in kullanicilar.items %}
    <tr>
      <td scope="row">{{ kullanici.ad_soyad }}</td>
      <td>{{ kullanici.kullanici_adi }}</td>
      <td>{% if kullanici.yetki == 0 %} Yönetici {% elif kullanici.yetki == 1 %} Normal {% else %} Devredışı {% endif %}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

    {% if prev_url %}
    <a class="btn btn-primary btn-sm" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
    {% if next_url %}
    <a class="btn btn-primary btn-sm" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
    {% endif %}

    {% else %}
        <div class="col-md-12 text-center">
            <h5>Sonuç yok</h5>
        </div>
    {% endif %}
        </div>
</div>
  </div>
    </div>


{% endblock %}


{% block modal %}


    <div class="modal fade" id="YeniKullaniciModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Yeni Kullanıcı</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <small><b><label>Ad Soyad:</label></b></small>
                <input type="text" class="form-control" autocomplete="off" id="ad_soyad">
              </div>

              <div class="form-group">
                <small><b><label>Kullanıcı Adı:</label></b></small>
                <input type="text" class="form-control" autocomplete="off" id="kullanici_adi">
              </div>


              <div class="form-group">
                <small><b><label>Şifre:</label></b></small>
                <input type="password" class="form-control" autocomplete="off" id="sifre">
              </div>


              <div class="form-group">
                <small><b><label>Yetki:</label></b></small>
                <select class="form-control" id="yetki">
                    <option value="0">Yönetici</option>
                    <option value="1" selected>Normal</option>
                    <option value="2">Devredışı</option>
                </select>
              </div>


          </div>
          <div class="modal-footer">
              <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-times"></i></button>
              <button class="btn btn-primary btn-sm" onclick="YeniKullanici();" type="button"><i class="fas fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>



{% endblock %}


{% block js %}

    <script>
    function YeniKullanici() {
            $.ajax({
                url: '/YeniKullanici',
                type: 'POST',
                dataType: 'json',
                data: {
                    ad_soyad: document.getElementById('ad_soyad').value,
                    kullanici_adi: document.getElementById('kullanici_adi').value,
                    sifre: document.getElementById('sifre').value,
                    yetki: document.getElementById('yetki').value
                },
                success: function (result) {
                    if(result.status) {
                        document.getElementById('ad_soyad').value = "";
                        document.getElementById('kullanici_adi').value = "";
                        document.getElementById('sifre').value = "";
                        $("#YeniKullaniciModal").modal('hide');
                        setTimeout(reloadpage(),2000);

                    }
                    alertbox(result.result,result.status);
                },
                error: function (error) {
                    alert(error)
                }
            });
        }





        function reloadpage() {
        location.reload();
    }
    </script>
{% endblock %}