<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seçim Takip - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS-->
       <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/vendor/bootstrap/css/bootstrap.min.css') }}">

    <!-- Custom fonts for this template-->
      <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/vendor/fontawesome-free/css/all.min.css') }}">


      <!-- Page level plugin CSS-->
      <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/vendor/datatables/dataTables.bootstrap4.css') }}">

    <!-- Custom styles for this template-->
      <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/css/sb-admin.css') }}">

      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

      <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/css/style.css') }}">



  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/pano">Seçim Takip</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
        <!--
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
           <input type="text" class="form-control" placeholder="Çekiliş Ara..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      -->

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-12">
          <!--
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>


        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

          -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item text-capitalize" href="#" data-toggle="modal">{{ current_user.ad_soyad }}</a>
            <a class="dropdown-item" href="/cikis">Çıkış</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Pano</span>
          </a>
        </li>
            {% if current_user.yetki == 0 %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-box-open"></i>
            <span>Kullanıcı İşlemleri</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/kullanicilar">Kullanıcılar</a>
          </div>
        </li>


          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-box-open"></i>
            <span>Yönetim İşlemleri</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/mahalleler">Mahalleler</a>
            <a class="dropdown-item" href="/okullar">Okullar</a>
            <a class="dropdown-item" href="/sandiklar">Sandıklar</a>
            <a class="dropdown-item" href="/musahitler">Müşahitler</a>
            <a class="dropdown-item" href="/partiler">Partiler</a>
            <a class="dropdown-item" href="/loglar">Loglar</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/OyEkle">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Oy Ekle</span>
          </a>
        </li>
        {% endif %}

      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">{% block bgtitle %}{% endblock %}</li>
          </ol>
          <hr>
          {% block content %}

          {% endblock %}

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © GULERNET 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% block modal %}

    {% endblock %}
     <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='themes/ng/vendor/jquery/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='themes/ng/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='themes/ng/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='themes/ng/js/sb-admin.min.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script src="https://momentjs.com/downloads/moment.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script>

        function alertbox(info,status) {
            const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    });
                    if(status)
                    {
                    Toast.fire({
                    type: 'success',
                    title: info
                    })
                    }
                    else{
                    Toast.fire({
                    type: 'error',
                    title: info
                    })
                    }

        }

        function loading(text) {

            Swal.fire({
                title: text,
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
            })

        }


    </script>

  {% block js %}

  {% endblock %}

  </body>

</html>
