
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Giriş</title>

    <!-- Bootstrap core CSS-->
       <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/vendor/bootstrap/css/bootstrap.min.css') }}">

    <!-- Custom fonts for this template-->
      <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/vendor/fontawesome-free/css/all.min.css') }}">


    <!-- Custom styles for this template-->
      <link rel="stylesheet" href="{{ url_for('static', filename='themes/ng/css/sb-admin.css') }}">





  </head>

  <body class="bg-dark">
  <div id="blur"></div>
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Giriş</div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" id="ka" placeholder="Kullanıcı Adı">
            </div>
             <div class="form-group">
                 <input type="password" class="form-control" id="sf" placeholder="Şifre">
             </div>
            <div class="form-group  float-right">
                 <button type="submit" onclick="Giris();" class="btn btn-primary">Giriş Yap</button>
             </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='themes/ng/vendor/jquery/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='themes/ng/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='themes/ng/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script>

        function alertbox(info,status) {
            const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    });
                    if(status)
                    {
                    Toast.fire({
                    type: 'success',
                    title: info
                    })
                    }
                    else{
                    Toast.fire({
                    type: 'error',
                    title: info
                    })
                    }

        }

        function loading(text) {

            Swal.fire({
                title: text,
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
            })

        }

        function Giris() {
            loading('Lütfen bekleyiniz');
            $.ajax({
                url: '/girispost',
                type: 'POST',
                dataType: 'json',
                data: {
                    ka: document.getElementById('ka').value,
                    sf: document.getElementById('sf').value
                },
                success: function (result) {
                    if(result.durum)
                     {
                        alertbox(result.sonuc,result.durum);
                        window.location.href = "/";
                    }
                    else{
                       alertbox(result.sonuc,result.durum);
                    }
                },
                error: function (error) {
                    swal.close();
                    alertbox('Bir hata oluştu',false);
                }
            });
        }
    </script>

  </body>
</html>
