{% extends 'layout.html' %}

{% block title %}
Loglar
{% endblock %}

{% block bgtitle %}
Loglar
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">

  <hr>

<div class="card">
    <div class="card-body">
{% if loglar.items %}
<div class="table-responsive">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Log No</th>
      <th scope="col">Kullanıcı</th>
      <th scope="col">İşlem</th>
      <th scope="col">Veri</th>
      <th scope="col">İp Adresi</th>
      <th scope="col">İşlem Tarihi</th>
    </tr>
  </thead>
  <tbody>
  {% for log in loglar.items %}
    <tr>
      <td scope="row">{{ log.id }}</td>
      <td>{{ log.ad_soyad }} ({{ log.kullanici_adi }})</td>
      <td>{{ log.durum }}</td>
      <td>{{ log.veri }}</td>
      <td>{{ log.ip_adresi }}</td>
      <td>{{ log.olusturulma_tarihi }} (UTC)</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

    {% if prev_url %}
    <a class="btn btn-primary btn-sm" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
    {% if next_url %}
    <a class="btn btn-primary btn-sm" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
    {% endif %}

    {% else %}
        <div class="col-md-12 text-center">
            <h5>Sonuç yok</h5>
        </div>
    {% endif %}
        </div>
</div>
  </div>
    </div>


{% endblock %}




{% block js %}

    <script>


    $(document).ready(function () {




    });


    </script>
{% endblock %}