{% extends 'layout.html' %}

{% block title %}
Mahalleler
{% endblock %}

{% block bgtitle %}
Mahalleler
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">

  <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#YeniMahalleModal">Yeni Mahalle</a>
        </div>
    </div>

  <hr>

<div class="card">
    <div class="card-body">
{% if mahalleler.items %}
<div class="table-responsive">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Mahalle No</th>
      <th scope="col">Mahalle Adı</th>
    </tr>
  </thead>
  <tbody>
  {% for mahalle in mahalleler.items %}
    <tr>
      <td scope="row">{{ mahalle.id }}</td>
      <td>{{ mahalle.mahalle_adi }}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

    {% if prev_url %}
    <a class="btn btn-primary btn-sm" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
    {% if next_url %}
    <a class="btn btn-primary btn-sm" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
    {% endif %}

    {% else %}
        <div class="col-md-12 text-center">
            <h5>Sonuç yok</h5>
        </div>
    {% endif %}
        </div>
</div>
  </div>
    </div>


{% endblock %}


{% block modal %}


    <div class="modal fade" id="YeniMahalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Yeni Mahalle</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="form-group">
                <small><b><label>Mahalle Adı:</label></b></small>
                <input type="text" class="form-control" autocomplete="off" id="mahalle_adi">
              </div>

          </div>
          <div class="modal-footer">
              <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-times"></i></button>
              <button class="btn btn-primary btn-sm" onclick="YeniMahalle();" type="button"><i class="fas fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>



{% endblock %}


{% block js %}

    <script>
    function YeniMahalle() {
            $.ajax({
                url: '/YeniMahalle',
                type: 'POST',
                dataType: 'json',
                data: {
                    mahalle_adi: document.getElementById('mahalle_adi').value
                },
                success: function (result) {
                    if(result.status) {
                        document.getElementById('mahalle_adi').value = "";
                        $("#YeniMahalleModal").modal('hide');
                        setTimeout(reloadpage(),2000);

                    }
                    alertbox(result.result,result.status);
                },
                error: function (error) {
                    alert(error)
                }
            });
        }





        function reloadpage() {
        location.reload();
    }
    </script>
{% endblock %}