{% extends 'layout.html' %}

{% block title %}
Müşahitler
{% endblock %}

{% block bgtitle %}
Müşahitler
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">

  <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" href="/YeniMusahit">Yeni Müşahit</a>
        </div>
    </div>

  <hr>

<div class="card">
    <div class="card-body">
{% if musahitler.items %}
<div class="table-responsive">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Müşahit No</th>
      <th scope="col">Müşahit Adı</th>
      <th scope="col">Müşahit Tel</th>
      <th scope="col">Açıklama</th>
      <th scope="col">Görev</th>
      <th scope="col">Sandık Adı</th>
    </tr>
  </thead>
  <tbody>
  {% for musahit in musahitler.items %}
    <tr>
      <td scope="row">{{ musahit.id }}</td>
      <td>{{ musahit.musahit_adi }}</td>
      <td>{{ musahit.musahit_tel }}</td>
      <td>{{ musahit.aciklama }}</td>
      <td>{% if musahit.durum == 0 %} Okul Sorumlusu {% else %} Müşahit {% endif %}</td>
      <td>{{ musahit.sandik_no }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

    {% if prev_url %}
    <a class="btn btn-primary btn-sm" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
    {% if next_url %}
    <a class="btn btn-primary btn-sm" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
    {% endif %}

    {% else %}
        <div class="col-md-12 text-center">
            <h5>Sonuç yok</h5>
        </div>
    {% endif %}
        </div>
</div>
  </div>
    </div>


{% endblock %}


{% block js %}

    <script>


    $(document).ready(function () {




    });


        function reloadpage() {
        location.reload();
    }
    </script>
{% endblock %}