{% extends 'layout.html' %}

{% block title %}
Oy Ekle
{% endblock %}

{% block bgtitle %}
Oy Ekle
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">



<div class="card">
    <div class="card-body">

                <div class="form-group">
                <small><b><label>Okullar:</label></b></small>
                 <select class="form-control" id="okullar" onchange="sandikgetir();">
                    <option value="0">Seçiniz</option>
                    {% for okul in okullar %}
                        <option value="{{ okul.id }}">{{ okul.okul_adi }}</option>
                    {% endfor %}
                </select>
              </div>

              <div id="sandikgetir" class="form-group">

              </div>



                <div class="form-group">
                <small><b><label>Dsp:</label></b></small>
                <input type="number" class="form-control" value="" autocomplete="off" id="dsp">
              </div>

                <div class="form-group">
                <small><b><label>Chp:</label></b></small>
                <input type="number" class="form-control" value="" autocomplete="off" id="chp">
              </div>


                <div class="form-group">
                <small><b><label>Mhp:</label></b></small>
                <input type="number" class="form-control" value="" autocomplete="off" id="mhp">
              </div>

                <div class="form-group">
                <small><b><label>Diğer:</label></b></small>
                <input type="number" class="form-control" value="" autocomplete="off" id="diger">
              </div>

              <div class="form-group">
                  <button class="btn btn-primary btn-sm" onclick="OyEkle();" type="button"><i class="fas fa-check"></i></button>
              </div>


</div>
</div>
  </div>
    </div>


{% endblock %}

{% block js %}

    <script>


    $(document).ready(function () {




    });


    function OyEkle() {
            $.ajax({
                url: '/OyEklePost',
                type: 'POST',
                dataType: 'json',
                data: {
                    sandiklar: document.getElementById('sandiklar').value,
                    dsp: document.getElementById('dsp').value,
                    chp: document.getElementById('chp').value,
                    mhp: document.getElementById('mhp').value,
                    diger: document.getElementById('diger').value
                },
                success: function (result) {
                    alertbox(result.result,result.status);

                },
                error: function (error) {
                    alert(error)
                }
            });
        }


        function OySayisiGetir() {
            $.ajax({
                url: '/OySayisiGetir',
                type: 'POST',
                dataType: 'json',
                data: {
                    sandiklar: document.getElementById('sandiklar').value
                },
                success: function (result) {
                    document.getElementById('dsp').value = result.dsp;
                    document.getElementById('chp').value = result.chp;
                    document.getElementById('mhp').value = result.mhp;
                    document.getElementById('diger').value = result.diger;

                },
                error: function (error) {
                    alert(error)
                }
            });
        }


        function sandikgetir() {
	id = document.getElementById('okullar').value;
	 $.ajax({
			type: "POST",
			url: "/SandikGetir",
			data: "id="+id,
			cache: false,
			beforeSend: function () {
				loading("Sandıklar Getiriliyor");
			},
			success: function(html) {
			    swal.close();
				$("#sandikgetir").html( html );
			}
		});

}
    </script>
{% endblock %}