<small><b><label>Sandık No:</label></b></small>
                 <select class="form-control" id="sandiklar" onchange="OySayisiGetir();">
                 <option value="0">Seçiniz</option>
                    {% for sandik in sandiklar %}
                        <option value="{{ sandik.id }}">{{ sandik.sandik_no }} </option>
                    {% endfor %}
</select>