{% extends 'layout.html' %}

{% block title %}
Sandıklar
{% endblock %}

{% block bgtitle %}
Sandıklar
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">

  <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" href="/YeniSandik">Yeni Sandık</a>
        </div>
    </div>

  <hr>

<div class="card">
    <div class="card-body">
{% if sandiklar.items %}
<div class="table-responsive">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sandık No</th>
      <th scope="col">Sandık Adı</th>
      <th scope="col">Okul Adı</th>
    </tr>
  </thead>
  <tbody>
  {% for sandik in sandiklar.items %}
    <tr>
      <td scope="row">{{ sandik.id }}</td>
      <td>{{ sandik.sandik_no }}</td>
      <td>{{ sandik.okul_adi }}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

    {% if prev_url %}
    <a class="btn btn-primary btn-sm" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
    {% if next_url %}
    <a class="btn btn-primary btn-sm" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
    {% endif %}

    {% else %}
        <div class="col-md-12 text-center">
            <h5>Sonuç yok</h5>
        </div>
    {% endif %}
        </div>
</div>
  </div>
    </div>


{% endblock %}


{% block js %}

    <script>


    $(document).ready(function () {




    });


        function reloadpage() {
        location.reload();
    }
    </script>
{% endblock %}