{% extends 'layout.html' %}

{% block title %}
Yeni Okul
{% endblock %}

{% block bgtitle %}
Yeni Okul
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">



<div class="card">
    <div class="card-body">


        <div class="form-group">
                <small><b><label>Okul Adı:</label></b></small>
                <input type="text" class="form-control" autocomplete="off" id="okul_adi">
              </div>

              <div class="form-group">
                <small><b><label>Mahalleler:</label></b></small>
                <select class="form-control" id="mahalleler">
                    {% for mahalle in mahalleler %}
                        <option value="{{ mahalle.id }}">{{ mahalle.mahalle_adi }}</option>
                    {% endfor %}
                </select>
                </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-sm float-right" onclick="YeniOkul();" type="button"><i class="fas fa-check"></i></button>
              </div>


</div>
</div>
  </div>
    </div>


{% endblock %}

{% block js %}

    <script>


    $(document).ready(function () {




    });


    function YeniOkul() {
            $.ajax({
                url: '/YeniOkulPost',
                type: 'POST',
                dataType: 'json',
                data: {
                    okul_adi: document.getElementById('okul_adi').value,
                    mahalle_id: document.getElementById('mahalleler').value
                },
                success: function (result) {
                    alertbox(result.result,result.status);
                    if(result.status) {
                        document.getElementById('okul_adi').value = "";
                        setTimeout(reloadpage(),2000);

                    }

                },
                error: function (error) {
                    alert(error)
                }
            });
        }


        function reloadpage() {
        window.location.href = "/okullar";
    }
    </script>
{% endblock %}