{% extends 'layout.html' %}

{% block title %}
Yeni Müşahit
{% endblock %}

{% block bgtitle %}
Yeni Müşahit
{% endblock %}


{% block content %}

     <div class="card">
  <div class="card-body">



<div class="card">
    <div class="card-body">


              <div class="form-group">
                <small><b><label>Müsahit Adı:</label></b></small>
                <input type="text" class="form-control" autocomplete="off" id="musahit_adi">
              </div>

                <div class="form-group">
                <small><b><label>Müsahit Tel:</label></b></small>
                <input type="text" class="form-control" autocomplete="off" id="musahit_tel">
              </div>

                <div class="form-group">
                <small><b><label>Açıklama:</label></b></small>
                <input type="text" class="form-control" autocomplete="off" id="aciklama">
              </div>

                <div class="form-group">
                <small><b><label>Görev:</label></b></small>
                <select class="form-control" id="durum">
                        <option value="0">Okul Sorumlusu</option>
                        <option value="1" selected>Müşahit</option>
                </select>
                </div>

              <div class="form-group">
                <small><b><label>Sandıklar:</label></b></small>
                <select class="form-control" id="sandiklar">
                    {% for sandik in sandiklar %}
                        <option value="{{ sandik.id }}">{{ sandik.sandik_no }}</option>
                    {% endfor %}
                </select>
                </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-sm float-right" onclick="YeniMusahit();" type="button"><i class="fas fa-check"></i></button>
              </div>


</div>
</div>
  </div>
    </div>


{% endblock %}

{% block js %}

    <script>


    $(document).ready(function () {




    });


    function YeniMusahit() {
            $.ajax({
                url: '/YeniMusahitPost',
                type: 'POST',
                dataType: 'json',
                data: {
                    musahit_adi: document.getElementById('musahit_adi').value,
                    musahit_tel: document.getElementById('musahit_tel').value,
                    durum: document.getElementById('durum').value,
                    aciklama: document.getElementById('aciklama').value,
                    sandik_id: document.getElementById('sandiklar').value
                },
                success: function (result) {
                    alertbox(result.result,result.status);
                    if(result.status) {
                        setTimeout(reloadpage(),2000);

                    }

                },
                error: function (error) {
                    alert(error)
                }
            });
        }


        function reloadpage() {
        window.location.href = "/musahitler";
    }
    </script>
{% endblock %}