.btn-primary
{
    background-color:#383b50 ;
    border-color:#383b50 ;
}

.btn-primary:hover
{
    background-color:#303F9F ;
    border-color:#303F9F ;
}

.btn-primary:active
{
    box-shadow: none;
    background-color:#383b50 !important;
    border-color:#383b50 !important;
}


.btn-primary:active:focus
{
    color: #ffffff;
}


.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #383b50;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #303F9F;
    border-color: #303F9F;
}

.badge-primary {
    color: #fff;
    background-color: #383b50;
}